describe "<%= [namespace('classify'), 'Models'].compact.join('.') %>", ->

  describe "<%= model_name('classify') %>", ->
    @<%= model_name %> = Factory.<%= model_name %>()

    it "should build from factory", =>
      expect(@<%= model_name %>).toBeA( <%= [namespace('classify'), "Models", model_name('classify')].compact.join('.') %> )
      # expect(@<%= model_name %>).toHaveAssociated('examples')

    it "should have better tests", =>
      # TODO
