#= require ../models/<%= model_name %>

class <%= [namespace('classify'), "Collections", collection_name('classify')].compact.join('.') %> extends Backbone.ExtendedCollection
  model: <%= [namespace('classify'), "Models", model_name('classify')].compact.join('.') %>